@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
    --white-color: #fff;
    --gold-color: hsl(50, 100%, 50%);
    --bg-color: hsl(267, 100%, 10%);
    --bg-color-light: hsl(267, 88%, 9%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color);
    color: var(--white-color);
    /* height: 1200px; */
}

/* ========= START ALL UTILITY ========== */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    padding: 0 1rem;
    /* margin-inline: .25rem; */
}

.btn {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 0.8rem;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 0.375rem;
    transition: all 0.4s;
}

section {
    padding: 5rem 0 3rem;
}

/* ========= END ALL UTILITY ========== */

.header {
    position: fixed;
    background-color: var(--bg-color);
    top: 0;
    left: 0;
    right: 0;
    /* width: 100%; */
    padding: 1rem;
    z-index: 1000;
    box-shadow: 0px 8px 16px rgba(255, 255, 255, 0.2);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: var(--white-color);
    transition: color 0.4s;
}

.logo:hover {
    color: var(--gold-color);
}

@media (max-width: 1200px) {
    .nav__list {
        position: fixed;
        top: -120%;
        left: 0;
        right: 0;
        background-color: var(--bg-color);
        box-shadow: 0px 8px 16px rgba(255, 255, 255, 0.2);
        z-index: 3;
        transition: top 0.4s;
    }
}

.show__menu {
    top: 0;
}

.nav__list ul {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2.5rem;
}

.nav__link {
    transition: color 0.4s;
    color: var(--white-color);
}

.nav__link:hover {
    color: var(--gold-color);
}

.toggle__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
}

.toggle__menu {
    font-size: 1.2rem;
    cursor: pointer;
}

/* ========== Start Hero Section ========== */
.hero__section {
    margin: 5rem 0 2rem;
    max-width: 90%;
    margin-inline: auto;
}

.hero__section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__section__left {
    margin: 1rem 0;
    text-align: center;
    animation: show__element 3s;
}

.hero__section__left h3 {
    font-weight: 500;
    font-size: 1rem;
}

.hero__section__left h1 {
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--gold-color);
}

.hero__section__left h4 {
    font-weight: 300;
    letter-spacing: 0.025rem;
}

.hero__section__right {
    width: 250px;
    height: 250px;
    /* border: 1px solid; */
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--bg-color-light);
    box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.2) inset,
        0 8px 16px rgba(255, 255, 255, 0.1);
    animation: show__element 3s;
}

.hero__section__right img {
    width: 100%;
    height: auto;
}
/* ========== End Hero Section ========== */

/* =========== Start About Section =========== */
#about {
    width: 100%;
    background-color: var(--bg-color-light);
}

#about h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 2rem;
}

#about .container {
    max-width: 90%;
    margin: 0 auto;
}

.about__left h4 {
    font-size: 1.3rem;
    color: var(--gold-color);
}

.about__left p {
    font-weight: 300;
    margin: 0.7rem 0;
}

.btn.cv {
    background-color: var(--bg-color);
    border: 1px solid var(--gold-color);
    color: var(--gold-color);
}

.btn.cv:hover {
    transform: scale(1.05);
    background-color: var(--gold-color);
    color: var(--bg-color);
}

.about__right {
    margin: 1.5rem 0;
}

.about__right h4 {
    font-size: 1.3rem;
    color: var(--gold-color);
}

.about__right h4 span {
    color: var(--white-color);
}

.about__right p {
    font-weight: 300;
    margin: 0.7rem 0;
}

.social__media {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 1rem;
}

.sosmed__group {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--gold-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: var(--white-color);
    font-size: 2rem;
    transition: all 0.4s;
}

.sosmed__group:hover {
    background-color: var(--white-color);
    color: var(--bg-color);
}
/* =========== End About Section =========== */

/* =========== Start Project Section =========== */

#project h1 {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 2rem;
}

#project h1 span {
    color: var(--gold-color);
}

.project__header {
    display: flex;
    justify-content: space-around;
}

.project__header span {
    color: var(--white-color);
    display: inline-block;
    text-align: center;
    /* border: 1px solid; */
    padding: 0.3rem 1rem;
    margin-bottom: -1px;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: all 0.4s;
}

.project__header span:hover {
    border: 1px solid;
    border-bottom: 5px solid var(--white-color);
}

#pro {
    transition: all 0.4s;
}

#ach {
    transition: all 0.4s;
}

#pro.__active {
    color: var(--gold-color);
}

#ach.__active {
    color: var(--gold-color);
}

.__active {
    border: 1px solid;
    border-bottom: 5px solid var(--white-color);
}

.project__based {
    margin-top: 3rem;
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
}

.card {
    margin-bottom: 4rem;
    margin-left: 1rem;
    border-radius: 0.325rem;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
    animation: show__element 3s;
    transition: transform 0.5s;
}

.card:hover {
    transform: scale(1.01);
}

.card__head {
    width: 400px;
    height: 350px;
    /* border-radius: 0.3rem; */
    overflow: hidden;
    /* border: 1px solid; */
}

.card__head img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__body {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    padding: 1rem;
}

.card__body h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.card__body__link {
    display: inline-block;
    color: var(--bg-color);
    font-size: 1.1rem;
}

.btn.card__body__link {
    color: var(--bg-color);
    border: 1px solid var(--white-color);
    background-color: var(--white-color);
}

.card__body__link:hover {
    background-color: var(--gold-color);
}

.ach__image {
    width: 400px;
    height: 350px;
    transition: transform 0.5s;
    animation: show__element 3s;
}

.ach__image:hover {
    transform: scale(1.025);
}

.ach__image img {
    width: 100%;
    height: auto;
}

@keyframes show__element {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* =========== End Project Section =========== */

/* ============ Start Contact Section ============== */
#contact {
    background-color: var(--bg-color-light);
}

.contact__right {
    text-align: center;
    margin-bottom: 3rem;
}

.contact__right h1 {
    font-size: 2rem;
}

.contact__right h1 span {
    color: var(--gold-color);
}

.contact__left {
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
}

.contact__left form {
    /* border: 1px solid; */
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    background-color: var(--bg-color);
    padding: 1rem;
    border-radius: 0.325rem;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.group__form label {
    color: var(--white-color);
}

.group__form input,
.group__form textarea {
    font-family: "Poppins", sans-serif;
    margin-top: 0.8rem;
    width: 100%;
    padding: 0.5rem 0.5rem;
    border-radius: 0.1rem;
    border: 1px solid var(--white-color);
}

.group__form textarea {
    height: 10rem;
}

.btn.btn__form {
    padding: 0.5rem 2rem;
    color: var(--bg-color);
    background-color: var(--white-color);
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 0.1rem;
}

.btn.btn.btn__form:hover {
    background-color: var(--gold-color);
}
/* ============ End Contact Section ============== */

/* =========== Start Footer ============== */
footer {
    padding: 1rem 0;
    font-size: 0.8rem;
    text-align: center;
}

footer a {
    color: var(--gold-color);
}

footer a:hover {
    text-decoration: underline;
}
/* =========== End Footer ============== */

@media (min-width: 768px) {
    .container {
        margin-inline: auto;
        width: 80%;
    }

    /* ========= Start Hero Section ========= */
    .hero__section {
        max-width: 100%;
    }

    .hero__section .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .hero__section__left {
        text-align: left;
    }

    .hero__section__left h3 {
        font-size: 1.5rem;
    }

    .hero__section__left h1 {
        font-size: 3rem;
    }
    /* ========= End Hero Section ========= */

    /* ========= Start About Section ========== */
    /* #about .container {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5rem;
        align-items: baseline;
    } */

    .about__left p {
        line-height: 1.5rem;
    }
    /* ========= End About Section ========== */

    .card__head {
        width: 300px;
        height: 250px;
    }

    .project__based {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }

    .card__body h3 {
        font-size: 1.2rem;
    }

    .ach__image {
        width: 300px;
        height: 250px;
    }
}

@media (min-width: 1200px) {
    .toggle__menu,
    .toggle__close {
        display: none;
    }

    .nav__list ul {
        column-gap: 4rem;
        flex-direction: row;
        margin: 0;
    }

    .project__based {
        grid-template-columns: repeat(3, 1fr);
    }

    #contact .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;
        /* border: 1px solid; */
    }

    .contact__right {
        width: 100%;
        /* border: 1px solid; */
    }

    .contact__right h1 {
        font-size: 4rem;
    }

    .contact__left {
        width: 100%;
    }
}
